[submodule "deps/njhomann/json"]
	path = deps/njhomann/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/boostorg/boost"]
	path = deps/boostorg/boost
	url = https://github.com/boostorg/boost.git
[submodule "deps/tiny-dnn"]
	path = deps/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn.git
